# Data Import, Cleaning, and Preparation

This module is used to query the postgreSQL database in order to retrieve the Yelp and Violations dataset. There will be several steps to do this:
1. Import flattened violations dataset. We will use a SQL query to perform aggregation of violation data by restaurant and inspeciton date. 
2. Import Yelp business data and join to inspection data    
4. Join the Yelp business and Inspection Data with the Yelp Review Data
    + Reviews for a given establishment will be aggregated so that reviews *after* the previous inspection (or the earliest review date) and *before* the date of a given inspection are in one batch. 
    +  Aggregate any review "count" features using this same logic
    + Combine the review documents for a restaurant into a CLOB using the same logic
    
### TO DO:
1. Determine how we want to do Levenshtein matching to combine the datasets (see the *Join Yelp Review Data with Inspection Dataset* below) 
2. Create additional engineered features
3. n-gram extraction
4. vectorization of n-grams
5. model selection
    + training
    + validaiton
    + evaluation
    +repeat with additional or removed features and data segmentation (if aggregating the review text does not yield successful results)

## Import and Clean Data

In [54]:
import psycopg2 as psy
import pandas as pd
import re
import numpy as np
import ast

In [55]:
#set up connection to our DB
conn = psy.connect(database="sterndsyelp", 
                        user="mvsternds", 
                        password="nyustern123!", 
                        host="sterndsyelp.cawzspvmqd5q.us-east-1.rds.amazonaws.com", 
                        port="5432"
                       )
#open cursor and check our tables in the DB
cur = conn.cursor()

In [3]:
#cur.execute("SELECT * FROM public.restaurants LIMIT 50 ")
#biz = pd.DataFrame(cur.fetchall())

cur.execute("SELECT * FROM public.toronto_checkins")
checkins = pd.DataFrame(cur.fetchall())

cur.execute("SELECT * FROM public.toronto_reviews")
reviews = pd.DataFrame(cur.fetchall())

**NOTE: ONLY LIMITING to 50 rows during build phase to limit processing time. **

In [56]:
reviews.columns = ['bizID','reviewID','userID','type','stars','text','useful','funny','cool','date']
#get total reviews per biz
rev = reviews['bizID'].value_counts()
rev_counts = pd.DataFrame(rev).reset_index()
rev_counts.columns = ['bizID','all_review_count']

In [57]:
#not using this - can delete

checkins.columns = ['bizID','type','datetime']
#get total checkins per biz
chks  = checkins['bizID'].value_counts()
chk_counts = pd.DataFrame(chks).reset_index()
chk_counts.columns = ['bizID','checkin_counts']

### Join Yelp Review Data with Inspection Dataset

We have a few options here. While it is optimal to have as much done in Python as possible, the matching process in python is impractically slow. We can 1) use a manual implementation of Levenshtein Distance (LD), 2) use a package with optimized LD code, or 3) do the joining of the inspeciton data and review data in our database. OPtions 1& 2 are shown below, and code to retrieve the results of option 3 are at the bottom of this section.

If we decide to go with option 3, the last steps are to combine all records where the business ID, last inspection date, and inspection date are equal in order to get to one observation per restaurant-inspection combination. We can then add in any other engineered features.

**note: next cell should return matches once we include more than the 50 rows (fingers crossed)**

#### Levenshtein Option #3 (in-database) 
This option joins the yelp restaurant informaiton to each inspection record where:
 * The Levenshetein distance of the restaurant name from the two datasets is <3
 * The distance of the address from each dataset is <4
 * The date of the review is greater than the prior inspection date
 * The date of the review is less than or equal to inspeciton date on the record
 
Whitespace at the beginning and end of the name and address in each dataset is trimmed, and the strings are converted to uppercase before matching. The mathcing thresholds can be adjusted to increase potential for matching, or decrease false matches.

In [69]:
# The materialized view of the restaurant, inspection, and review data is "toronto_all"
cur.execute("SELECT * FROM public.toronto_all_2 where review_date is not null and attributes is not null" )
obs = pd.DataFrame(cur.fetchall())
obs.head()
obs.columns=['bizID','name','address','postal_code','neighborhood','lat','long','categories','attributes','is_open','review_cnt','hours','stars','setablishment_id','establishment_name','establishment_address','inspection_date','last_inspection','count_minor','count_sig','count_crucial','count_na','count_crucial_signficant','review_id','user_id','review_stars','review_text','useful','funny','cool','review_dt']
obs.head()

,bizID,name,address,postal_code,neighborhood,lat,long,categories,attributes,is_open,...,count_na,count_crucial_signficant,review_id,user_id,review_stars,review_text,useful,funny,cool,review_dt
0,0o9imYHyCGVvkR0NyJDCoQ,LIPSTICKDYNAMITE,992QUEENSTREETW,M6J 1H1,Ossington Strip,43.6444125,-79.4183518,"['Vegetarian', 'Cocktail Bars', 'Nightlife', '...","['Alcohol: full_bar', ""Ambience: {'romantic': ...",1,...,0,0,k1YwiLwOuvdd-mRfqTjOuQ,YKU5vy0dWFP1MLexzzVLQg,3,"""Good food, lovely service. A little loud for ...",0,0,0,2015-08-15
1,0o9imYHyCGVvkR0NyJDCoQ,LIPSTICKDYNAMITE,992QUEENSTREETW,M6J 1H1,Ossington Strip,43.6444125,-79.4183518,"['Vegetarian', 'Cocktail Bars', 'Nightlife', '...","['Alcohol: full_bar', ""Ambience: {'romantic': ...",1,...,0,1,AZyLvCxyN5DnhyY2JboEgA,fSYQ_oQ0wNGk2nMJLvNZJA,1,"""Ok so imagine that is Halloween all year arou...",0,0,0,2016-12-19
2,0o9imYHyCGVvkR0NyJDCoQ,LIPSTICKDYNAMITE,992QUEENSTREETW,M6J 1H1,Ossington Strip,43.6444125,-79.4183518,"['Vegetarian', 'Cocktail Bars', 'Nightlife', '...","['Alcohol: full_bar', ""Ambience: {'romantic': ...",1,...,0,0,0Y3ksUrPhSjdFwgYXgXPlw,2MA4jXpayOxqzul0e6yPDg,4,"""Great little cheap dive bar with a dimly lit ...",1,0,0,2016-06-15
3,0o9imYHyCGVvkR0NyJDCoQ,LIPSTICKDYNAMITE,992QUEENSTREETW,M6J 1H1,Ossington Strip,43.6444125,-79.4183518,"['Vegetarian', 'Cocktail Bars', 'Nightlife', '...","['Alcohol: full_bar', ""Ambience: {'romantic': ...",1,...,0,0,dN3IVxSXlUC8kwfCYt155w,BKF78sXmNHReyj3YTGfHtQ,4,A wonderful wonderful neighborhood bar with a ...,0,0,0,2016-08-15
4,0ORDYMDX027EhfsoFOkNcQ,BRITISHSTYLEFISHCHIPS,73COXWELLAVENUE,M4L 3B1,Upper Beach,43.6686238,-79.3172737,"['Restaurants', 'Fish & Chips']","['Alcohol: none', ""Ambience: {'romantic': Fals...",1,...,0,0,pgEUxcu0fGb7jlsC3h7zhg,VP7_Jz3wdklXvbfOHiBLLA,5,Love this place. They have the best pub style ...,0,0,0,2016-02-07

In [70]:
obs['bizID-dt'] = obs['bizID'] + "-" + obs['inspection_date'].map(str)

In [71]:
in_scope_rev = obs['bizID-dt'].value_counts()
in_scope_reviews = pd.DataFrame(in_scope_rev).reset_index()
in_scope_reviews.columns = ['bizID-dt','count_reviews_in_scope']
in_scope_reviews.head()

                            bizID-dt  count_reviews_in_scope
0  RwRNR4z3kY-4OsFqigY5sw-2015-11-03                     248
1  jc3p5SFyt9qrrMXt6E13ig-2016-12-21                     161
2  RwRNR4z3kY-4OsFqigY5sw-2016-03-15                     153
3  h_4dPV9M9aYaBliH1Eoeeg-2016-05-12                     141
4  trKyIRyjKqVSZmcU0AnICQ-2016-04-11                     114

In [72]:
#get dummies for star rating column
obs = pd.concat([obs, pd.get_dummies(obs['review_stars'], prefix='stars')], axis=1)
obs.head()

,bizID,name,address,postal_code,neighborhood,lat,long,categories,attributes,is_open,...,useful,funny,cool,review_dt,bizID-dt,stars_1,stars_2,stars_3,stars_4,stars_5
0,0o9imYHyCGVvkR0NyJDCoQ,LIPSTICKDYNAMITE,992QUEENSTREETW,M6J 1H1,Ossington Strip,43.6444125,-79.4183518,"['Vegetarian', 'Cocktail Bars', 'Nightlife', '...","['Alcohol: full_bar', ""Ambience: {'romantic': ...",1,...,0,0,0,2015-08-15,0o9imYHyCGVvkR0NyJDCoQ-2016-03-11,0,0,1,0,0
1,0o9imYHyCGVvkR0NyJDCoQ,LIPSTICKDYNAMITE,992QUEENSTREETW,M6J 1H1,Ossington Strip,43.6444125,-79.4183518,"['Vegetarian', 'Cocktail Bars', 'Nightlife', '...","['Alcohol: full_bar', ""Ambience: {'romantic': ...",1,...,0,0,0,2016-12-19,0o9imYHyCGVvkR0NyJDCoQ-2017-01-30,1,0,0,0,0
2,0o9imYHyCGVvkR0NyJDCoQ,LIPSTICKDYNAMITE,992QUEENSTREETW,M6J 1H1,Ossington Strip,43.6444125,-79.4183518,"['Vegetarian', 'Cocktail Bars', 'Nightlife', '...","['Alcohol: full_bar', ""Ambience: {'romantic': ...",1,...,1,0,0,2016-06-15,0o9imYHyCGVvkR0NyJDCoQ-2016-09-12,0,0,0,1,0
3,0o9imYHyCGVvkR0NyJDCoQ,LIPSTICKDYNAMITE,992QUEENSTREETW,M6J 1H1,Ossington Strip,43.6444125,-79.4183518,"['Vegetarian', 'Cocktail Bars', 'Nightlife', '...","['Alcohol: full_bar', ""Ambience: {'romantic': ...",1,...,0,0,0,2016-08-15,0o9imYHyCGVvkR0NyJDCoQ-2016-09-12,0,0,0,1,0
4,0ORDYMDX027EhfsoFOkNcQ,BRITISHSTYLEFISHCHIPS,73COXWELLAVENUE,M4L 3B1,Upper Beach,43.6686238,-79.3172737,"['Restaurants', 'Fish & Chips']","['Alcohol: none', ""Ambience: {'romantic': Fals...",1,...,0,0,0,2016-02-07,0ORDYMDX027EhfsoFOkNcQ-2016-05-10,0,0,0,0,1

In [73]:
stars = obs.groupby('bizID-dt')[['stars_1', 'stars_2','stars_3','stars_4','stars_5']].sum().reset_index()
stars.head()

,bizID-dt,stars_1,stars_2,stars_3,stars_4,stars_5
0,-2TBP3ZGu7M-FmfoNJvbrQ-2016-09-07,0,1,0,2,0
1,-2TBP3ZGu7M-FmfoNJvbrQ-2017-01-18,1,0,1,3,1
2,-76didnxGiiMO80BjSpYsQ-2015-09-01,1,1,0,0,0
3,-76didnxGiiMO80BjSpYsQ-2016-03-01,1,4,0,1,0
4,-76didnxGiiMO80BjSpYsQ-2016-09-29,2,3,0,1,1

In [74]:
combined_revs = obs.groupby('bizID-dt')['review_text'].apply(' '.join).reset_index()
combined_revs.head()

,bizID-dt,review_text
0,-2TBP3ZGu7M-FmfoNJvbrQ-2016-09-07,"""I loveee bacon, and I gotta say, Rashers did ..."
1,-2TBP3ZGu7M-FmfoNJvbrQ-2017-01-18,I like this place 100%. When what you want is ...
2,-76didnxGiiMO80BjSpYsQ-2015-09-01,I used to frequent this place but stopped afte...
3,-76didnxGiiMO80BjSpYsQ-2016-03-01,"great location, good and relaxing interior set..."
4,-76didnxGiiMO80BjSpYsQ-2016-09-29,"""Avoid if possible. The regular coffee is too ..."

In [75]:
users = obs.groupby('bizID-dt')['user_id'].count().reset_index()
users.columns = ['bizID-dt','count_unique_users']
users.head()

                            bizID-dt  count_unique_users
0  -2TBP3ZGu7M-FmfoNJvbrQ-2016-09-07                   3
1  -2TBP3ZGu7M-FmfoNJvbrQ-2017-01-18                   6
2  -76didnxGiiMO80BjSpYsQ-2015-09-01                   2
3  -76didnxGiiMO80BjSpYsQ-2016-03-01                   6
4  -76didnxGiiMO80BjSpYsQ-2016-09-29                   7

In [76]:
sub = obs[['bizID-dt','bizID','name','postal_code','lat','long','categories','attributes','is_open','count_crucial_signficant']]
sub = sub.drop_duplicates()
sub.head()

,bizID-dt,bizID,name,postal_code,lat,long,categories,attributes,is_open,count_crucial_signficant
0,0o9imYHyCGVvkR0NyJDCoQ-2016-03-11,0o9imYHyCGVvkR0NyJDCoQ,LIPSTICKDYNAMITE,M6J 1H1,43.6444125,-79.4183518,"['Vegetarian', 'Cocktail Bars', 'Nightlife', '...","['Alcohol: full_bar', ""Ambience: {'romantic': ...",1,0
1,0o9imYHyCGVvkR0NyJDCoQ-2017-01-30,0o9imYHyCGVvkR0NyJDCoQ,LIPSTICKDYNAMITE,M6J 1H1,43.6444125,-79.4183518,"['Vegetarian', 'Cocktail Bars', 'Nightlife', '...","['Alcohol: full_bar', ""Ambience: {'romantic': ...",1,1
2,0o9imYHyCGVvkR0NyJDCoQ-2016-09-12,0o9imYHyCGVvkR0NyJDCoQ,LIPSTICKDYNAMITE,M6J 1H1,43.6444125,-79.4183518,"['Vegetarian', 'Cocktail Bars', 'Nightlife', '...","['Alcohol: full_bar', ""Ambience: {'romantic': ...",1,0
4,0ORDYMDX027EhfsoFOkNcQ-2016-05-10,0ORDYMDX027EhfsoFOkNcQ,BRITISHSTYLEFISHCHIPS,M4L 3B1,43.6686238,-79.3172737,"['Restaurants', 'Fish & Chips']","['Alcohol: none', ""Ambience: {'romantic': Fals...",1,0
8,0ORDYMDX027EhfsoFOkNcQ-2016-12-22,0ORDYMDX027EhfsoFOkNcQ,BRITISHSTYLEFISHCHIPS,M4L 3B1,43.6686238,-79.3172737,"['Restaurants', 'Fish & Chips']","['Alcohol: none', ""Ambience: {'romantic': Fals...",1,0

In [77]:
#merge in all data into one df
df1 = pd.merge(sub,stars,on='bizID-dt', how='left')
df2 = pd.merge(df1,combined_revs,on='bizID-dt', how='left')
df3 = pd.merge(df2,rev_counts,on='bizID', how='left')
df4 = pd.merge(df3,in_scope_reviews,on='bizID-dt', how='left')
df5 = pd.merge(df4,users,on='bizID-dt', how='left')

In [78]:
t = []
for i in range(len(df5['categories'])):
    x = ast.literal_eval(df5['categories'][i])
    t.append(x)
    
cats = pd.DataFrame(t)
cats_df = pd.get_dummies(cats, prefix='Category')
cats_df = cats_df.groupby(cats_df.columns, axis=1).sum()


atts_df = pd.DataFrame()
for x in range(len(df5['attributes'])):
    list_yelp = ast.literal_eval(df5['attributes'][x])

    attribute_list = []
    attribute_name = []

    for i in list_yelp:

        name = i.split(":")[0]
        values = i.split( name+": " )[1].replace('{','').replace('}','')

        if len(values.split(":")) > 1: 
        
            for j in values.split(","):
                name_j = name + "_" + (j.split(":")[0].strip().replace("'",''))
                attribute_name.append( name_j )
                attribute_list.append (j.split(":")[1])
        else:
            attribute_name.append( name )
            attribute_list.append ( values )
        
    dataframe = pd.DataFrame(attribute_list).transpose()
    dataframe.columns = attribute_name
    atts_df = atts_df.append(dataframe)
    
atts_df = atts_df.reset_index().drop('index', 1)

df = pd.concat([df5, cats_df, atts_df], axis=1)

#make sure each bizID-dt is only appearing once in the data
print('Max of number of unique bizID-dt in df (should be 1):',max(df5['bizID-dt'].value_counts()))

Max of number of unique bizID-dt in df (should be 1): 2

In [79]:
#dummy-ize all categorical and boolean variables
df=pd.get_dummies(df, columns=['Category_Coffee & Tea',
 'Category_Food',
 'Category_Japanese',
 'Category_Restaurants',
 'Alcohol',
 'Ambience_casual',
 'Ambience_classy',
 'Ambience_hipster',
 'Ambience_intimate',
 'Ambience_romantic',
 'Ambience_touristy',
 'Ambience_trendy',
 'Ambience_upscale',
 'BikeParking',
 'BusinessAcceptsCreditCards',
 'BusinessParking_garage',
 'BusinessParking_lot',
 'BusinessParking_street',
 'BusinessParking_valet',
 'BusinessParking_validated',
 'Caters',
 'GoodForKids',
 'GoodForMeal_breakfast',
 'GoodForMeal_brunch',
 'GoodForMeal_dessert',
 'GoodForMeal_dinner',
 'GoodForMeal_latenight',
 'GoodForMeal_lunch',
 'HasTV',
 'NoiseLevel',
 'OutdoorSeating',
 'RestaurantsAttire',
 'RestaurantsDelivery',
 'RestaurantsGoodForGroups',
 'RestaurantsPriceRange2',
 'RestaurantsReservations',
 'RestaurantsTableService',
 'RestaurantsTakeOut',
 'WiFi', 'is_open','postal_code'], dummy_na=True)
df

,bizID-dt,bizID,name,lat,long,categories,attributes,count_crucial_signficant,stars_1,stars_2,...,postal_code_M9W,postal_code_M9W 1J1,postal_code_M9W 1J9,postal_code_M9W 1P1,postal_code_M9W 1P6,postal_code_M9W 1P7,postal_code_M9W 3X2,postal_code_M9W 4W6,postal_code_M9W 5Z3,postal_code_nan
0,0o9imYHyCGVvkR0NyJDCoQ-2016-03-11,0o9imYHyCGVvkR0NyJDCoQ,LIPSTICKDYNAMITE,43.6444125,-79.4183518,"['Vegetarian', 'Cocktail Bars', 'Nightlife', '...","['Alcohol: full_bar', ""Ambience: {'romantic': ...",0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0o9imYHyCGVvkR0NyJDCoQ-2017-01-30,0o9imYHyCGVvkR0NyJDCoQ,LIPSTICKDYNAMITE,43.6444125,-79.4183518,"['Vegetarian', 'Cocktail Bars', 'Nightlife', '...","['Alcohol: full_bar', ""Ambience: {'romantic': ...",1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0o9imYHyCGVvkR0NyJDCoQ-2016-09-12,0o9imYHyCGVvkR0NyJDCoQ,LIPSTICKDYNAMITE,43.6444125,-79.4183518,"['Vegetarian', 'Cocktail Bars', 'Nightlife', '...","['Alcohol: full_bar', ""Ambience: {'romantic': ...",0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0ORDYMDX027EhfsoFOkNcQ-2016-05-10,0ORDYMDX027EhfsoFOkNcQ,BRITISHSTYLEFISHCHIPS,43.6686238,-79.3172737,"['Restaurants', 'Fish & Chips']","['Alcohol: none', ""Ambience: {'romantic': Fals...",0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0ORDYMDX027EhfsoFOkNcQ-2016-12-22,0ORDYMDX027EhfsoFOkNcQ,BRITISHSTYLEFISHCHIPS,43.6686238,-79.3172737,"['Restaurants', 'Fish & Chips']","['Alcohol: none', ""Ambience: {'romantic': Fals...",0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0ORDYMDX027EhfsoFOkNcQ-2015-11-05,0ORDYMDX027EhfsoFOkNcQ,BRITISHSTYLEFISHCHIPS,43.6686238,-79.3172737,"['Restaurants', 'Fish & Chips']","['Alcohol: none', ""Ambience: {'romantic': Fals...",0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0Q4_ekM2pk7KUmuYwuWDzg-2016-12-07,0Q4_ekM2pk7KUmuYwuWDzg,KAMISUSHI,43.6439563,-79.4480111,"['Sushi Bars', 'Restaurants']","['Alcohol: beer_and_wine', ""Ambience: {'romant...",4,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0Q4_ekM2pk7KUmuYwuWDzg-2016-08-30,0Q4_ekM2pk7KUmuYwuWDzg,KAMISUSHI,43.6439563,-79.4480111,"['Sushi Bars', 'Restaurants']","['Alcohol: beer_and_wine', ""Ambience: {'romant...",0,0,1,...,0,0,0,0,0,0,0,0,0,0
8,0QjROMVW9ACKjhSEfHqNCQ-2015-06-01,0QjROMVW9ACKjhSEfHqNCQ,MIMIRESTAURANT,43.6663763388,-79.3487726589,"['Vietnamese', 'Restaurants']","['Alcohol: beer_and_wine', ""Ambience: {'romant...",1,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0QjROMVW9ACKjhSEfHqNCQ-2016-11-08,0QjROMVW9ACKjhSEfHqNCQ,MIMIRESTAURANT,43.6663763388,-79.3487726589,"['Vietnamese', 'Restaurants']","['Alcohol: beer_and_wine', ""Ambience: {'romant...",0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0QjROMVW9ACKjhSEfHqNCQ-2016-02-04,0QjROMVW9ACKjhSEfHqNCQ,MIMIRESTAURANT,43.6663763388,-79.3487726589,"['Vietnamese', 'Restaurants']","['Alcohol: beer_and_wine', ""Ambience: {'romant...",0,1,2,...,0,0,0,0,0,0,0,0,0,0
11,0QjROMVW9ACKjhSEfHqNCQ-2015-09-30,0QjROMVW9ACKjhSEfHqNCQ,MIMIRESTAURANT,43.6663763388,-79.3487726589,"['Vietnamese', 'Restaurants']","['Alcohol: beer_and_wine', ""Ambience: {'romant...",0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0r9NuzpFE6l0hwVAJDnhVg-2016-12-06,0r9NuzpFE6l0hwVAJDnhVg,SANFRANCESCOFOODS,43.6593919,-79.3855275,"['Italian', 'Pizza', 'Sandwiches', 'Restaurants']","['Alcohol: none', ""Ambience: {'romantic': Fals...",1,1,1,...,0,0,0,0,0,0,0,0,0,0
13,0r9NuzpFE6l0hwVAJDnhVg-2016-05-31,0r9NuzpFE6l0hwVAJDnhVg,SANFRANCESCOFOODS,43.6593919,-79.3855275,"['Italian', 'Pizza', 'Sandwiches', 'Restaurants']","['Alcohol: none', ""Ambience: {'romantic': Fals...",0,0,1,...,0,0,0,0,0,0,0,0,0,0
14,0rjArZxONWhzsr58ddAeEQ-2016-08-10,0rjArZxONWhzsr58ddAeEQ,FATBASTARDBURRITOCO,43.6497757793,-79.4830290513,"['Restaurants', 'Mexican']","['Alcohol: none', ""Ambience: {'romantic': Fals...",0,2,1,...,0,0,0,0,0,0,0,0,0,0
15,0rjArZxONWhzsr58ddAeEQ-2017-04-06,0rjArZxONWhzsr58ddAeEQ,FATBASTARDBURRITOCO,43.6497757793,-79.4830290513,"['Restaurants', 'Mexican']","['Alcohol: none', ""Ambience: {'romantic': Fals...",0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0rjArZxONWhzsr58ddAeEQ-2016-02-18,0rjArZxONWhzsr58ddAeEQ,FATBASTARDBURRITOCO,43.6497757793,-79.4830290513,"['Restaurants', 'Mexican']","['Alcohol: none', ""Ambience: {'romantic': Fals...",0,1,1,...,0,0,0,0,0,0,0,0,0,0
17,0sLskWuecHYjn3CZfn8qTw-2016-11-29,0sLskWuecHYjn3CZfn8qTw,TIMOTHYSWORLDCOFFEE,43.7743445,-79.2535219,"['Food', 'Juice Bars & Smoothies', 'Desserts',...","['BusinessAcceptsCreditCards: True', ""Business...",0,1,0,...,0,0,0,0,0,0,0,0,0,0
18,0sPOBQHlVvuhO1h-1p1ccQ-2016-07-13,0sPOBQHlVvuhO1h-1p1ccQ,ORIGINATION,43.6533253829,-79.3953588346,"['Coffee & Tea', 'Tea Rooms', 'Restaurants', '...","['Alcohol: none', ""Ambience: {'romantic': Fals...",3,2,0,...,0,0,0,0,0,0,0,0,0,0
19,0sPOBQHlVvuhO1h-1p1ccQ-2015-09-10,0sPOBQHlVvuhO1h-1p1ccQ,ORIGINATION,43.6533253829,-79.3953588346,"['Coffee & Tea', 'Tea Rooms', 'Restaurants', '...","['Alcohol: none', ""Ambience: {'romantic': Fals...",1,2,2,...,0,0,0,0,0,0,0,0,0,0
20,0sPOBQHlVvuhO1h-1p1ccQ-2015-09-23,0sPOBQHlVvuhO1h-1p1ccQ,ORIGINATION,43.6533253829,-79.3953588346,"['Coffee & Tea', 'Tea Rooms', 'Restaurants', '...","['Alcohol: none', ""Ambience: {'romantic': Fals...",0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0sPOBQHlVvuhO1h-1p1ccQ-2016-11-17,0sPOBQHlVvuhO1h-1p1ccQ,ORIGINATION,43.6533253829,-79.3953588346,"['Coffee & Tea', 'Tea Rooms', 'Restaurants', '...","['Alcohol: none', ""Ambience: {'romantic': Fals...",0,1,1,...,0,0,0,0,0,0,0,0,0,0
22,0sPOBQHlVvuhO1h-1p1ccQ-2016-01-26,0sPOBQHlVvuhO1h-1p1ccQ,ORIGINATION,43.6533253829,-79.3953588346,"['Coffee & Tea', 'Tea Rooms', 'Restaurants', '...","['Alcohol: none', ""Ambience: {'romantic': Fals...",2,1,0,...,0,0,0,0,0,0,0,0,0,0
23,0sPOBQHlVvuhO1h-1p1ccQ-2016-07-14,0sPOBQHlVvuhO1h-1p1ccQ,ORIGINATION,43.6533253829,-79.3953588346,"['Coffee & Tea', 'Tea Rooms', 'Restaurants', '...","['Alcohol: none', ""Ambience: {'romantic': Fals...",0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0sUd4i07uoQrE9DVMCLOuw-2016-11-29,0sUd4i07uoQrE9DVMCLOuw,GREENMANGOEXPRESS,43.6220655,-79.521842,"['Asian Fusion', 'Thai', 'Seafood', 'Restauran...","['Alcohol: none', ""Ambience: {'romantic': Fals...",0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0sUd4i07uoQrE9DVMCLOuw-2016-07-18,0sUd4i07uoQrE9DVMCLOuw,GREENMANGOEXPRESS,43.6220655,-79.521842,"['Asian Fusion', 'Thai', 'Seafood', 'Restauran...","['Alcohol: none', ""Ambience: {'romantic': Fals...",0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0_Twd4emsDeKa91azXGoug-2016-11-29,0_Twd4emsDeKa91azXGoug,STARBUCKS,43.6513610721,-79.3746749284,"['Food', 'Coffee & Tea']","['BikeParking: True', 'BusinessAcceptsCreditCa...",0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0_Twd4emsDeKa91azXGoug-2017-02-24,0_Twd4emsDeKa91azXGoug,STARBUCKS,43.6513610721,-79.3746749284,"['Food', 'Coffee & Tea']","['BikeParking: True', 'BusinessAcceptsCreditCa...",0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0u1wCWzGCKOWZUfk2Jr_2w-2016-12-14,0u1wCWzGCKOWZUfk2Jr_2w,FOODYWORLD,43.7702165,-79.2788355,"['Food', 'Grocery', 'International Grocery']","['BikeParking: True', ""BusinessParking: {'gara...",0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0uBcHNhsjVb5YuwR0cXW6Q-2017-02-17,0uBcHNhsjVb5YuwR0cXW6Q,EDIBLEARRANGEMENTS,43.6517808,-79.3727322,"['Gift Shops', 'Food', 'Shopping', 'Chocolatie...","['BusinessAcceptsCreditCards: True', ""Business...",1,2,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5901,0dU5pJcQPObFL1eG8MJWIg-2015-10-20,0dU5pJcQPObFL1eG8MJWIg,THEHELLENIKGRILL,43.730937,-79.404098,"['Restaurants', 'Greek']","['Alcohol: none', ""Ambience: {'romantic': Fals...",0,0,2,...,0,0,0,0,0,0,0,0,0,0
5902,0e-j5VcEn54EZT-FKCUZdw-2017-03-14,0e-j5VcEn54EZT-FKCUZdw,SUSHIOSAKA,43.6452327,-79.5324224,"['Sushi Bars', 'Korean', 'Japanese', 'Restaura...","['RestaurantsGoodForGroups: True', 'Restaurant...",0,0,0,...,0,0,0,0,0,0,0,0,0,0
5903,0e-j5VcEn54EZT-FKCUZdw-2016-09-30,0e-j5VcEn54EZT-FKCUZdw,SUSHIOSAKA,43.6452327,-79.5324224,"['Sushi Bars', 'Korean', 'Japanese', 'Restaura...","['RestaurantsGoodForGroups: True', 'Restaurant...",0,0,0,...,0,0,0,0,0,0,0,0,0,0
5904,0e-j5VcEn54EZT-FKCUZdw-2016-06-15,0e-j5VcEn54EZT-FKCUZdw,SUSHIOSAKA,43.6452327,-79.5324224,"['Sushi Bars', 'Korean', 'Japanese', 'Restaura...","['RestaurantsGoodForGroups: True', 'Restaurant...",0,0,0,...,0,0,0,0,0,0,0,0,0,0
5905,0fJvj2LG6VWenkXEnAACVA-2017-01-05,0fJvj2LG6VWenkXEnAACVA,TIMHORTONS,43.6405633025,-79.437282675,"['Bagels', 'Food', 'Coffee & Tea']","['BikeParking: True', 'BusinessAcceptsCreditCa...",0,0,1,...,0,0,0,0,0,0,0,0,0,0
5906,0fJvj2LG6VWenkXEnAACVA-2016-06-15,0fJvj2LG6VWenkXEnAACVA,TIMHORTONS,43.6405633025,-79.437282675,"['Bagels', 'Food', 'Coffee & Tea']","['BikeParking: True', 'BusinessAcceptsCreditCa...",0,0,0,...,0,0,0,0,0,0,0,0,0,0
5907,0gj8bpTF6I6T_C5xyBUafw-2016-04-04,0gj8bpTF6I6T_C5xyBUafw,ARDENFASTFOOD,43.8136578,-79.2914218,"['Restaurants', 'Chinese']","[""BusinessParking: {'garage': False, 'street':...",0,0,0,...,0,0,0,0,0,0,0,0,0,0
5908,0gj8bpTF6I6T_C5xyBUafw-2016-08-08,0gj8bpTF6I6T_C5xyBUafw,ARDENFASTFOOD,43.8136578,-79.2914218,"['Restaurants', 'Chinese']","[""BusinessParking: {'garage': False, 'street':...",2,0,0,...,0,0,0,0,0,0,0,0,0,0
5909,0Hy2VE9tqTo4QbovMz3xrQ-2016-01-08,0Hy2VE9tqTo4QbovMz3xrQ,MASALAKITCHEN,43.7221884,-79.3032361,"['Indian', 'Restaurants']","['Alcohol: none', ""Ambience: {'romantic': Fals...",0,0,0,...,0,0,0,0,0,0,0,0,0,0
5910,0Hy2VE9tqTo4QbovMz3xrQ-2017-02-01,0Hy2VE9tqTo4QbovMz3xrQ,MASALAKITCHEN,43.7221884,-79.3032361,"['Indian', 'Restaurants']","['Alcohol: none', ""Ambience: {'romantic': Fals...",0,0,0,...,0,0,0,0,0,0,0,0,0,0
5911,0Hy2VE9tqTo4QbovMz3xrQ-2015-10-06,0Hy2VE9tqTo4QbovMz3xrQ,MASALAKITCHEN,43.7221884,-79.3032361,"['Indian', 'Restaurants']","['Alcohol: none', ""Ambience: {'romantic': Fals...",0,0,0,...,0,0,0,0,0,0,0,0,0,0
5912,0iTpgvz5XJzFAo253nIE0g-2016-05-09,0iTpgvz5XJzFAo253nIE0g,THESIDEKICK,43.6645121,-79.3251347,"['Restaurants', 'Shopping', 'Books', 'Mags', '...","['Alcohol: none', 'BikeParking: True', 'Busine...",0,0,0,...,0,0,0,0,0,0,0,0,0,0
5913,0j3ScXP2pii16Y4ojtKdSQ-2016-09-14,0j3ScXP2pii16Y4ojtKdSQ,GLOBALCHEESE,43.632048,-79.5286112,"['Cheese Shops', 'Food', 'Specialty Food']","['BikeParking: False', 'BusinessAcceptsCreditC...",0,0,0,...,0,0,0,0,0,0,0,0,0,0
5914,0JqPI6mv7xHloURlf0L4Mg-2015-12-10,0JqPI6mv7xHloURlf0L4Mg,THAIONYONGE,43.65855,-79.382072,"['Restaurants', 'Specialty Food', 'Food Delive...","['Alcohol: full_bar', ""Ambience: {'romantic': ...",3,1,2,...,0,0,0,0,0,0,0,0,0,0
5915,0JqPI6mv7xHloURlf0L4Mg-2016-08-12,0JqPI6mv7xHloURlf0L4Mg,THAIONYONGE,43.65855,-79.382072,"['Restaurants', 'Specialty Food', 'Food Delive...","['Alcohol: full_bar', ""Ambience: {'romantic': ...",0,0,0,...,0,0,0,0,0,0,0,0,0,0
5916,0JqPI6mv7xHloURlf0L4Mg-2016-04-05,0JqPI6mv7xHloURlf0L4Mg,THAIONYONGE,43.65855,-79.382072,"['Restaurants', 'Specialty Food', 'Food Delive...","['Alcohol: full_bar', ""Ambience: {'romantic': ...",0,2,0,...,0,0,0,0,0,0,0,0,0,0
5917,0JqPI6mv7xHloURlf0L4Mg-2016-12-08,0JqPI6mv7xHloURlf0L4Mg,THAIONYONGE,43.65855,-79.382072,"['Restaurants', 'Specialty Food', 'Food Delive...","['Alcohol: full_bar', ""Ambience: {'romantic': ...",1,1,0,...,0,0,0,0,0,0,0,0,0,0
5918,0JqPI6mv7xHloURlf0L4Mg-2015-05-15,0JqPI6mv7xHloURlf0L4Mg,THAIONYONGE,43.65855,-79.382072,"['Restaurants', 'Specialty Food', 'Food Delive...","['Alcohol: full_bar', ""Ambience: {'romantic': ...",0,0,0,...,0,0,0,0,0,0,0,0,0,0
5919,0kB69ewW3BVse8EhU4kxrQ-2016-07-15,0kB69ewW3BVse8EhU4kxrQ,DELYSEES,43.643222,-79.4061221,"['Bakeries', 'Food']","['Alcohol: none', 'BikeParking: True', 'Busine...",0,1,3,...,0,0,0,0,0,0,0,0,0,0
5920,0kB69ewW3BVse8EhU4kxrQ-2016-02-29,0kB69ewW3BVse8EhU4kxrQ,DELYSEES,43.643222,-79.4061221,"['Bakeries', 'Food']","['Alcohol: none', 'BikeParking: True', 'Busine...",0,1,0,...,0,0,0,0,0,0,0,0,0,0
5921,0kB69ewW3BVse8EhU4kxrQ-2017-03-10,0kB69ewW3BVse8EhU4kxrQ,DELYSEES,43.643222,-79.4061221,"['Bakeries', 'Food']","['Alcohol: none', 'BikeParking: True', 'Busine...",0,0,0,...,0,0,0,0,0,0,0,0,0,0
5922,0kj2gElqk24gcKwVslyx-g-2015-12-30,0kj2gElqk24gcKwVslyx-g,TIMHORTONS,43.6760747,-79.3585801,"['Coffee & Tea', 'Food', 'Donuts']","['BikeParking: True', 'BusinessAcceptsCreditCa...",0,0,1,...,0,0,0,0,0,0,0,0,0,0
5923,0kj2gElqk24gcKwVslyx-g-2017-01-10,0kj2gElqk24gcKwVslyx-g,TIMHORTONS,43.6760747,-79.3585801,"['Coffee & Tea', 'Food', 'Donuts']","['BikeParking: True', 'BusinessAcceptsCreditCa...",0,0,0,...,0,0,0,0,0,0,0,0,0,0
5924,0mM_smCpKeKaL0MPMKOLFg-2016-11-09,0mM_smCpKeKaL0MPMKOLFg,SUKHOTHAI,43.6497106,-79.4302864,"['Thai', 'Restaurants']","['Alcohol: full_bar', ""Ambience: {'romantic': ...",1,0,0,...,0,0,0,0,0,0,0,0,0,0
5925,0mM_smCpKeKaL0MPMKOLFg-2016-04-06,0mM_smCpKeKaL0MPMKOLFg,SUKHOTHAI,43.6497106,-79.4302864,"['Thai', 'Restaurants']","['Alcohol: full_bar', ""Ambience: {'romantic': ...",2,1,1,...,0,0,0,0,0,0,0,0,0,0
5926,0mM_smCpKeKaL0MPMKOLFg-2016-08-29,0mM_smCpKeKaL0MPMKOLFg,SUKHOTHAI,43.6497106,-79.4302864,"['Thai', 'Restaurants']","['Alcohol: full_bar', ""Ambience: {'romantic': ...",0,3,4,...,0,0,0,0,0,0,0,0,0,0
5927,0mM_smCpKeKaL0MPMKOLFg-2016-09-22,0mM_smCpKeKaL0MPMKOLFg,SUKHOTHAI,43.6497106,-79.4302864,"['Thai', 'Restaurants']","['Alcohol: full_bar', ""Ambience: {'romantic': ...",1,1,0,...,0,0,0,0,0,0,0,0,0,0
5928,0mM_smCpKeKaL0MPMKOLFg-2015-09-04,0mM_smCpKeKaL0MPMKOLFg,SUKHOTHAI,43.6497106,-79.4302864,"['Thai', 'Restaurants']","['Alcohol: full_bar', ""Ambience: {'romantic': ...",0,0,0,...,0,0,0,0,0,0,0,0,0,0
5929,0mM_smCpKeKaL0MPMKOLFg-2015-07-20,0mM_smCpKeKaL0MPMKOLFg,SUKHOTHAI,43.6497106,-79.4302864,"['Thai', 'Restaurants']","['Alcohol: full_bar', ""Ambience: {'romantic': ...",0,4,1,...,0,0,0,0,0,0,0,0,0,0
5930,0mM_smCpKeKaL0MPMKOLFg-2016-11-14,0mM_smCpKeKaL0MPMKOLFg,SUKHOTHAI,43.6497106,-79.4302864,"['Thai', 'Restaurants']","['Alcohol: full_bar', ""Ambience: {'romantic': ...",0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [80]:
#useful code to view all columns of df

pd.set_option('display.max_columns', None)

In [81]:
backup_final_df = df

del df['categories']
del df['attributes']
del df['name']
del df['bizID']
del df['bizID-dt']
del df['lat']
del df['long']
df['count_crucial_signficant']= df['count_crucial_signficant']>0

In [82]:
from nltk.corpus import stopwords
import nltk
import string
stop = stopwords.words('english')
df['review_text']=df['review_text'].str.lower()
df['review_text'] = df['review_text'].apply(lambda x: '  '.join([word for word in x.split() if word not in (stop)]))
ps = nltk.stem.WordNetLemmatizer()
df['review_text']=df["review_text"].apply(lambda x:[ps.lemmatize(y,pos='v') for y in x.split()])
df['review_text']=df['review_text'].apply(lambda x: ',  '.join(x))
translator = str.maketrans('', '', string.punctuation)
df['review_text'] = df['review_text'].str.translate(translator)

list(df)
df

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

### Model Time!

In [83]:
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC

from sklearn.feature_extraction.text import HashingVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
import scipy.sparse
import sklearn.pipeline as pipe
#here we are creatig a pipeline of the multiple steps needed to create n-grams and tfidf transformation
tfidf = pipe.Pipeline([
    ('vectorizer', HashingVectorizer(ngram_range=(1,4), non_negative=True)),
    ('tfidf', TfidfTransformer()),
])
#separate the non text features so that we only transform the text
X_text = df['review_text']
X_ntext = df.drop(['review_text','count_crucial_signficant'], axis=1)
X_tfidf = tfidf.fit_transform(X_text)
#combine the transformed sparse matrix with the non-text features
X = scipy.sparse.hstack([X_tfidf, X_ntext])
Y = df['count_crucial_signficant']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=.75)

TypeError: no supported conversion for types: (dtype('float64'), dtype('O'))

In [ ]:
model = LogisticRegression()
model.fit(X_train, Y_train)
print ("Area under the ROC curve on test data = %.3f" % metrics.roc_auc_score(model.predict(X_test_binary), Y_test))
fpr, tpr, thresholds = metrics.roc_curve(Y_test, model.predict_proba(X_test_binary)[:,1])